{% comment %}

    For image items, a zoomable, full screen gallery view is added using lightGallery.
    Ensure dependencies are added by including `gallery: true` in the layout front matter calling this include.

{%- endcomment -%}
{% unless page.object_template == 'compound_object' %}
<div id="lightgallery">{% endunless%}
    <div class="gallery-img" data-src="{{ page.object_download | relative_url }}">
        <p><img src="{{ page.image_small | relative_url }}" alt="{{ page.title | escape }}" class="img-fluid"></p>
        <p><small>{% if page.object_template == 'compound_object' %}{{ page.title }}{% else %}Click to view full screen{% endif %}</small></p>
    </div>
{% unless page.object_template == 'compound_object' %}
</div>{% endunless%}