---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row text-center pt-2 pb-4">
  <div class="col-md-12">
    <a href="{{ '/browse.html#bibliography' | relative_url }}" class="btn btn-secondary btn-lg mx-1">Bibliography</a>
    <a href="{{ '/browse.html#media' | relative_url }}" class="btn btn-secondary btn-lg mx-1">Media</a>
    <a href="{{ '/browse.html#artifacts' | relative_url }}" class="btn btn-secondary btn-lg mx-1">Artifacts</a>
  </div>
</div>
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html%}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" featured=site.data.theme.featured-subjects max=site.data.theme.featured-subjects-max %}

    {% include index/featured-terms.html field="creator" title="Top Authors" max=10 %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>